*.nupkg
*.dll
*.XML
*.pdb
*.chm
*.cache
*.txt
*.transform
*.psm1
Source/ForMeeting.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/ForMeeting.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/ForMeeting.Infra.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
packages/EntityFramework.6.1.3/tools/init.ps1
packages/EntityFramework.6.1.3/tools/migrate.exe
packages/EntityFramework.6.1.3/tools/install.ps1
Source/ForMeeting.SharedKernel/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/ForMeeting.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/ForMeeting.SharedKernel/obj/Debug/ForMeeting.SharedKernel.Recursos.ErrorMessage.resources
Source/ForMeeting.SharedKernel/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/ForMeeting.Infra.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/ForMeeting.SharedKernel/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/ForMeeting.Infra.Data/bin/Debug/ForMeeting.Infra.Data.dll.config
Source/ForMeeting.Infra.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/repositories.config